<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>KJC Advocacia | Sobre </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
	</head>
	<body class="is-preload">

		<!-- Header -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/"><strong style="color: rgba(175, 1, 1, 0.87);">KJC</strong> Advocacia</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
				  <ul class="navbar-nav">
					<li class="nav-item active">
					  <a class="nav-link" href="/">Pagina Inicial<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="/sobre">Sobre</a>
					</li>
				  </ul>
				</div>
			  </nav>

		<!-- Heading -->
			<div id="heading" >
				<h1><strong>KJC</strong> Advocacia</h1>
			</div>

</div>
		
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">

					<!-- Elements -->
						<div class="row content">
							<div class="col-12 col-12-medium text">

								<!-- Text -->
									<h2>Os Profissionais</h2>
									<div class="mb-4">
										<p>Nosso escritório é formado por profissionais renomados e conhecidos no mercado nas áreas em que atuam, tendo como sócios:</p> 
										<p><strong style="font-size: medium;">ROGÉRIO ZARATTINI CHEBABI </strong>-  Advogado formado pela PUC-Campinas, possui atuação na área aduaneira há 18 anos. É  Diretor jurídico na ADAB - Associação dos Despachantes Aduaneiros do Brasil, Membro Fundador da Comissão de Direito Aduaneiro da OAB/SP,  foi Conselheiro do Conselho do Setor de Serviços da Associação Comercial de São Paulo,  é Sócio Diretor da empresa Canal Aduaneiro. Especializado em Direito Aduaneiro, Comércio Exterior, Penal Aduaneiro, Ex Tarifário e Siscoserv</p>
										<p><strong style="font-size: medium;">THAMIRES ISSA CASTELLO FILETTO </strong>-  Advogada formada pela Universidade Metodista de São Paulo - UMESP. Atuação em Direito Aduaneiro e Comércio Exterior, especialmente com Canal Cinza (procedimentos especiais de controle) e Ex Tarifário.</p>
									</div>
								<hr style="margin-bottom:2 rem;">
									<h2 class="my-4">Porque a KJC <b>?</b> </h2>
									<p class="mb-4">Visando sempre apresentar um atendimento atencioso e diferenciado, acompanhamento processual de forma zelosa, trabalhando por maior celeridade processual e pela aplicação da Justiça.
									   Os advogados que hoje contam com outros advogados para integrar uma prestativa equipe, atuando em grandes causas na Comarca do Rio de Janeiro e muitas outras em todo mundo, continuam trabalhando com o mesmo amor e sede de aprender, atualizando-se diariamente, colocando o melhor de si no escritório <strong>KJC</strong>.
									</p>
								<hr>
								<!-- Lists -->
									<h2 class="mt-4">Temos Parceiros em Todo Mundo</h2>
									<div class="row content">
										<div class="col-12 col-12-small text">
											<h3>Nossas Filiais</h3>
											<ul>
												<li class="noDec m2rem"><i class="fas fa-caret-right"></i> Brasil: Rio de janeiro - Avenida das Magnolias - Copacabana</li>
												<li class="noDec m2rem"><i class="fas fa-caret-right"></i> Brasil: Rio de janeiro - Avenida das Magnolias - Copacabana</li>
												<li class="noDec m2rem"><i class="fas fa-caret-right"></i> Brasil: Rio de janeiro - Avenida das Magnolias - Copacabana</li>
												<li class="noDec m2rem"><i class="fas fa-caret-right"></i> Brasil: Rio de janeiro - Avenida das Magnolias - Copacabana</li>
												<li class="noDec m2rem"><i class="fas fa-caret-right"></i> Brasil: Rio de janeiro - Avenida das Magnolias - Copacabana</li>
												<li class="noDec m2rem"><i class="fas fa-caret-right"></i> Brasil: Rio de janeiro - Avenida das Magnolias - Copacabana</li>
												<li class="noDec m2rem"><i class="fas fa-caret-right"></i> Brasil: Rio de janeiro - Avenida das Magnolias - Copacabana</li>
												<li class="noDec m2rem"><i class="fas fa-caret-right"></i> Brasil: Rio de janeiro - Avenida das Magnolias - Copacabana</li>
											</ul>
											
										</div>
									</div>
									<hr>
									<h2 class="mt-4" style="margin-bottom: 2rem;">Nossos Três Pilares</h2>
									<dl class="mb-4" >
										<dt>Valores</dt>
										<dd>
											<p>Da mesma maneira que uma pessoa ou família tem seus valores estabelecidos,
												 como honestidade, ética, educação com os mais velhos, respeito ao próximo,
												  etc, uma empresa não é diferente. Ela deve pautar sua existência por valores
												   semelhantes aos desejáveis em uma pessoa. Esses valores devem ser coerentes 
												   com as <strong>necessidades de seus clientes</strong> e outras partes interessadas,
												 como acionistas e funcionários, fornecedores, comunidade…</p>
										</dd>
										<dt>Missão</dt>
										<dd>
											<p>Basicamente, a missão descreve a finalidade da empresa, o motivo de sua existência,
											  a razão pela qual se considera necessária ao mercado e a maneira como quer ser vista
											  por ele. Perceba que é mais do que apenas descrever o que a empresa faz – “Fabricamos
										      pesos para papel” não deve ser visto como uma missão, isso apenas diz o que a organização
											  produz. “Fazer pesos para papel com criatividade, originalidade e senso estético, criando para
											 você um produto que vai além de sua finalidade básica, respeitando o meio ambiente e valorizando a cultura regional.”
											  – agora sim, temos um enunciado de missão que destaca a empresa como diferencial, e dá orgulho a quem participa desse trabalho!</p>
										</dd>
										<dt>Visão</dt>
										<dd>
											<p>Futuro é a palavra que norteia esse tema. Mas um futuro realista, objetivo!
												 Daria para levar a sério uma visão do tipo “Pretendemos nos tornar o único
												  fabricante de pesos para papel do mundo.”? – Claro que não!!! – A visão da
												   empresa deve levar a quem lê a possibilidade de se tornar real num futuro próximo.
													É o objetivo maior e principal da empresa, aquele que deve ser considerado por todos
													 como um destino certo se tomarem o rumo indicado e fizerem a sua parte do processo.</p>
										</dd>
									</dl>
									
								
								<hr>
								<!-- Blockquote -->
									<h3 class="my-4">Como já Dizia Ruy Barbosa</h3>
									<blockquote class="mb-4">[…] nós juristas, nós os advogados, não somos os instrumentos mercenários dos interesses das partes.
										 Temos uma alta magistratura, tão elevada quanto aos que vestem as togas, presidindo os tribunais; 
										 somos os auxiliares naturais e legais da justiça; e, pela minha parte, sempre que diante de mim se levanta 
										 uma consulta, se formula um caso jurídico, eu o encaro sempre como se fosse um magistrado a quem se propusesse
										  resolver o direito litigiado entre partes. Por isso, não corro da responsabilidade senão quando a minha consciência a repele.</blockquote>
								<hr>
							

								<!-- Box -->
									<h3 class="my-4">História da Nossa Profissão</h3>
									<div class="box">
										<p class="mb-5">Em linhas iniciais, o vocábulo ‘Advogado’ deriva da expressão em latim 'ad vocatus'
											 que significa o que foi chamado, que, no Direito Romano, designava a terceira pessoa
											  que o litigante chamava perante o Juízo para falar a seu favor ou defender o seu interesse.
											   A advocacia é uma das mais antigas profissões da história da humanidade. Sendo considerada
											    muitas vezes polêmica pela própria liberdade em antinomia com o livre arbítrio.
												Conquanto a polêmica existente até os dias atuais acerca da liberdade de seu exercício,
												 a profissão advocatícia sempre foi e é considerada muito nobre. A historicidade nos indica
												  que se tem como primeiros Advogados existentes e conhecidos o Profeta Moisés, no Livro do Êxodo
												  , quando assumiu a liderança da defesa de Povo de Israel do calvário e da escravidão no Egito 
												  rumo à Terra Prometida pelo Criador, e ainda o próprio Jesus Cristo, Nosso Senhor, que ao ver Maria
												   Madalena, adúltera, prestes a ser apedrejada, nos exatos termos previstos pela Legislação Mosaica 
												   à prática da infidelidade pelas mulheres aos seus maridos, nosso Senhor Jesus impediu que o fizessem,
												    indo de encontro à susomencionada Lei de Moisés, inclusive.</p>
									</div>

	<hr>
	<!-- Icons -->
		<h3 class="text" style="margin-top: 2rem;">Nossas Redes Sociais</h3>
		<ul class="icons text" style="margin-bottom: 0; margin-top: 2rem;">
			<li><a href="http://twitter.com" class="icon fa-twitter colorRed"><span class="label">Twitter</span></a></li>
			<li><a href="http://facebook.com" class="icon fa-facebook colorRed"><span class="label">Facebook</span></a></li>
			<li><a href="http://instagram.com" class="icon fa-instagram colorRed"><span class="label">Instagram</span></a></li>
			<li><a href="http://linkedin.com" class="icon fa-linkedin colorRed"><span class="label">Linkedin</span></a></li>
		</ul>
		
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section style="margin-top: 2rem;">
							<h3>Accumsan montes viverra</h3>
							<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
						</section>
						<section>
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3685.668651598635!2d-44.10788724968632!3d-22.51660778513904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9e986d617f230b%3A0xd7d4a2d5dc8959e4!2sR.%20Vinte%20e%20Cinco%2C%2089%20-%20Vila%20Santa%20Cec%C3%ADlia%2C%20Volta%20Redonda%20-%20RJ%2C%2027260-315!5e0!3m2!1spt-BR!2sbr!4v1573861659209!5m2!1spt-BR!2sbr" width="300" height="300" frameborder="0" style="border:5;" allowfullscreen=""></iframe>
						</section>
						<section style="margin-top: 2rem; margin-left: 2rem;">
							<h4>Redes Sociais</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-linkedin"></i>&nbsp;</i>Linkedin</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright" style="margin-top: 2rem;">
						@ KJC Advocacia - Todos os direitos reservados
					</div>
				</div>
			</footer>

		<!-- Scripts -->
		    <script src="https://kit.fontawesome.com/82df08fba1.js" crossorigin="anonymous"></script>
			<!-- Scripts -->
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
	<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-d0ed7d92-81e1-4a08-ae3f-66bf474b763f"></div>
</html>