<!DOCTYPE HTML>
<html>
	<head>
		<title>KJC Advocacia | Pagina Inicial</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body class="is-preload">

			<!-- Header -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand" href="/"><strong style="color: rgba(175, 1, 1, 0.87);">KJC</strong> Advocacia</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavDropdown">
					  <ul class="navbar-nav">
						<li class="nav-item active">
						  <a class="nav-link" href="/">Pagina Inicial<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href="/sobre">Sobre</a>
						</li>
					
					  </ul>
					</div>
				  </nav>
		

		<!-- Banner -->
		<section id="cta" class="wrapper">
				<div class="inner">
					<h1 class="mb-3 display-4"><strong>KJC</strong> Advocacia</h1>
					<h6 class="mb-4">Advocacia de Correspondência:
							KJC Advogados Associados, em operação desde 2000, é um escritório de advocacia empresarial que tem como expertise a advocacia de correspondência com ênfase em contencioso de massa.</h6>
				</div>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Conheca melhor nosso trabalho</h2>
						<p>Sempre pensando no melhor para o nosso cliente decidimos mostrar um pouco sobre o que fazemos de melhor </p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-vcard-o colorRed"><span class="label">Icon</span></a>
									<h3><b>KJC</b></h3>
								</header>
								<p>Somos formados por uma equipe de advogados correspondentes, autônomos, com escritório situado em Volta Redonda/RJ., e temos a nobre missão de assessorar, não só advogados de outros Estados, mas também empresas ou pessoas físicas.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-files-o colorRed"><span class="label">Icon</span></a>
									<h3>comprometimento</h3>
								</header>
								<p>Com parcerias saudáveis e produtivas, nossa atuação de advogado correspondente conta com renomados profissionais no Território Nacional, capazes de atestar a experiência, presteza, atenção e alto grau de comprometimento.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-floppy-o colorRed"><span class="label">Icon</span></a>
									<h3>pepel é passado</h3>
								</header>
								<p>Falam que papel é indispensavel, nós discordamos, nosso escritório é preenchido por computadores que vão nos ajudar a organizar os casos e agir com mais eficiência e qualidade, esse é um dos nossos maiores diferenciais</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-line-chart colorRed"><span class="label">Icon</span></a>
									<h3>Números nāo mentem</h3>
								</header>
								<p>Mais de 8000 casos em aberto 87% fechados com sucesso e a 20 anos deixando inumeros clientes satisfeitos</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-paper-plane-o colorRed"><span class="label">Icon</span></a>
									<h3>Área de atuação</h3>
								</header>
								<p>Atuamos, tanto no campo preventivo das relações obrigacionais, estruturando negócios, contratos, operações dos mais diversos tipos.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-qrcode colorRed"><span class="label">Icon</span></a>
									<h3>Psicologia Jurídica</h3>
								</header>
								<p>Consistente na aplicação dos conhecimentos psicológicos aos assuntos relacionados ao Direito, principalmente quanto à saúde mental.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>Área de atuação</h2>
					<p>Atuamos, tanto no campo preventivo das relações obrigacionais, estruturando negócios, contratos, operações dos mais diversos tipos, como na solução propriamente dita de conflitos, sempre no intuito de preservar os interesses de seus clientes, seu patrimônio, e incentivar a expansão de seus negócios, viabilizando tomadas de decisões ágeis e seguras. Realizamos parcerias com grandes escritórios para o assessoramento seguro de grandes empresas. Nesse sentido, os profissionais do escritório procuram antecipar cenários e soluções, mantendo constante diálogo com o cliente, informando-o sobre alterações legislativas, decisões administrativas e judiciais que possam influenciar suas atividades, e também propondo alternativas de produtos e de negócios que possam trazer ao cliente benefícios de ordem financeira, fiscal e empresarial.</p>
				</div>
			</section>

		<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Algum dos nossos feedbacks</h2>
						<p>Para mostrar mais um pouco da seriedade, comprometimento e missäo da nossa empresa, decidimos deixar alguns dos feedbacks que recebemos de pessoas que confiaram em nosso trabalho.</p>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>Fui atendido com excelencia e profissionalidade, ja tinha tentado outras empresas, mas somente aqui conseguir resolver de vez meu problema com profissonais muito competentes e qualificados. </p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="/images/pic01.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Marina Figueiras</strong> <span>- Médica</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Fui atendido com excelencia e profissionalidade, ja tinha tentado outras empresas, mas somente aqui conseguir resolver de vez meu problema com profissonais muito competentes e qualificados.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="/images/pic03.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Johnatan Silva</strong> <span>- Empresario</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Fui atendido com excelencia e profissionalidade, ja tinha tentado outras empresas, mas somente aqui conseguir resolver de vez meu problema com profissonais muito competentes e qualificados.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="/images/pic02.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Juliana Mendes</strong> <span>- Engenheiro</span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Footer -->
		<footer id="footer">
				<div class="inner">
					<div class="content">
						<section style="margin-top: 2rem;">
							<h3>Accumsan montes viverra</h3>
							<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
						</section>
						<section>
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3685.668651598635!2d-44.10788724968632!3d-22.51660778513904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9e986d617f230b%3A0xd7d4a2d5dc8959e4!2sR.%20Vinte%20e%20Cinco%2C%2089%20-%20Vila%20Santa%20Cec%C3%ADlia%2C%20Volta%20Redonda%20-%20RJ%2C%2027260-315!5e0!3m2!1spt-BR!2sbr!4v1573861659209!5m2!1spt-BR!2sbr" width="300" height="300" frameborder="0" style="border:5;" allowfullscreen=""></iframe>
						</section>
						<section style="margin-top: 2rem; margin-left: 2rem;">
							<h4>Redes Sociais</h4>
							<ul class="plain">
								<li><a href="http://twitter"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-linkedin"></i>&nbsp;</i>Linkedin</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright" style="margin-top: 2rem;">
						@ KJC Advocacia - Todos os direitos reservados
					</div>
				</div>
			</footer>
			<!-- Scripts -->
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
	<!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
		FB.init({
		  xfbml            : true,
		  version          : 'v5.0'
		});
	  };

	  (function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/pt_BR/sdk/xfbml.customerchat.js';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<!-- Your customer chat code -->
	<div class="fb-customerchat"
	  attribution=setup_tool
	  page_id="1063202607112289"
theme_color="#fa3c4c"
logged_in_greeting="Olá, como posso te ajudar?"
logged_out_greeting="Olá, como posso te ajudar?">
	</div>
</html>